* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/*  Start Variables */
:root {
  --main-color: #19c8fa
}

/*  End Variables */

body {
  font-family: 'Work Sans', sans-serif;
  background-color: black;
}

html {
  scroll-behavior: smooth;
}

/* global component */

.container {
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
  width: 750px;
}

ul {
  list-style: none;
}

/* end component */


/* Header Start */
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0px;
  width: calc(100% - 30px);
  left: 15px;
}

header.logo img {
  height: 40px;
}

header nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header nav ul {
  display: flex;
}

header nav ul li a {
  display: block;
  color: white;
  text-decoration: none;
  font-size: 14px;
  transition: .3s;
  padding: 40px 10px;
  z-index: 2;
  position: relative;
}

header nav ul li a.active,
 header nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
  
 }

/*  Header End */